{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect - Sua plataforma de 1:1</title>
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/listagem.css' %}">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

</head>

<body>
    <nav class="navigation">
        <ul class="sidebar">
            <li onclick=hideSidebar()>
                <a href="#">
                    <i class="ri-close-line"></i>
                </a>
            </li>
            <li>
                <a href="/lider">Líderes</a>
            </li>
            <li>
                <a href="/colaborador">Colaborador</a>
            </li>
            <li>
                <a href="/reuniao/reunioes">Reunião</a>>
            </li>
                <a href="/accounts/logout">Sair</a>
            </li>
                <a href="">Bem vindo {{ usuario }}!</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="logo" href="">Connect</a>
            </li>
            <li class="hideOnMobile">
                <a href="/lider">Líderes</a>
            </li>
            <li class="hideOnMobile">
                <a href="/colaborador">Colaborador</a>
            </li>
            <li class="hideOnMobile">
                <a href="/reuniao/reunioes">Reunião</a>
            </li>
            <li class="hideOnMobile">
                <a href="/accounts/logout">Sair</a>
            </li>
            <li class="hideOnMobile">
                <a href="">Olá, {{ usuario }}!</a>
            </li>


        </ul>
    </nav>

    {% block content %}

    {% endblock %}


</body>

<script src="{% static 'js/index.js' %}"></script>

</html>