{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="design">
        <div class="pill-1 rotate-45"></div>
        <div class="pill-2 rotate-45"></div>
        <div class="pill-3 rotate-45"></div>
        <div class="pill-4 rotate-45"></div>
    </div>
    <div class="login">
        <form action="{% url 'logar' %}" method="POST">{% csrf_token %}
            <h3 class="title">Login</h3>
            {% if messages %}
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}
            <div class="text-input">
                <i class="ri-user-fill"></i>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="text-input">
                <i class="ri-lock-fill"></i>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="create">
                <input class="btn" type="submit">
                <i class="ri-arrow-right-fill"></i>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/login.js' %}"></script>


{% endblock %}